/* You can add global styles to this file, and also import other style files */
body {
  background: url('https://ak6.picdn.net/shutterstock/videos/13107836/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
